{
  "hosts": [
    "rss.otherdomain.com",
    "books.mydomain.com",
    "monitor.mydomain.com"
  ],
  "namesilo_key": "./secrets/namesilo_key",
  "retries": 20,
  "notify": true,
  "email_host": "smtp.qq.com",
  "email_port": 465,
  "email_from": "xxxx@qq.com",
  "email_to": "xxxx@outlook.com",
  "email_secure": true,
  "email_password": "./secrets/email_password"
}
